$white: #fff;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #888;
$gray-4: #555;
$primary: #C12328;
$secondary: #000;
$black: rgb(0, 0, 0);
$primaryOrange: #EAAC44;
$primaryBlue: #0F384C;
$feedback-color: #C4C4C4;
$bodyBackground: #f3f7fb;
$services-navbar-background: #DCE6F2;

$contrast-text: #fff;

$border-radius: 10px;
$spacing: 8px;

$rem: 16;



$secondary-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$primary-box-shadow: 0 3px 10px rgba(101, 14, 14, 0.16);
$text-color: #3A3434;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

