*, ::after, ::before {
    box-sizing: border-box !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: $white;
    font-size: 14px;
    @media (min-width: 992px) {
        font-size: 16px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.3rem;

    @media (min-width: 992px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    @media (min-width: 992px) {
        font-size: 2rem;
    }
}

h5 {
    font-size: 1rem;
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
}

h6 {
    font-size: 1rem;
    @media (min-width: 992px) {
        font-size: 1rem;
    }
}

p {
    color: $text-color;
}

a {
    color: $black;
    text-decoration: none;
    transition: .2s;

    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

.border-radius {
    border-radius: $border-radius;
}

.primary-shadow {
    box-shadow: $primary-box-shadow;
}

.secondary-shadow {
    box-shadow: $secondary-box-shadow;
}

.primary-background {
    background-color: rgba(227, 78, 108, 0.11);
}

.secondary-background {
    background-color: #F6F6F6;
}

.primary-button {
    display: inline-block;
    padding: $spacing*1.5 $spacing*3;
    color: $white;
    background-color: $primary;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: $secondary-box-shadow;
    //font-weight: $semi-bold;
    border: 0;

    &:hover {
        background-color: $secondary;
        color: $white;
    }
}

.mb-6 {
    margin-bottom: $spacing*2;
    @media (min-width: 992px) {
        margin-bottom: $spacing*6;
    }
}

.mb-7 {
    margin-bottom: $spacing*7;
}

.mb-8 {
    margin-bottom: $spacing*4;
    @media (min-width: 992px) {
        margin-bottom: $spacing*8
    }
}

.mb-9 {
    margin-bottom: $spacing*9;
}

.mb-10 {
    margin-bottom: $spacing*10;
}


.primary {
    color: $primary;
}

.contrast-text {
    color: $contrast-text;
}

.with-overlay {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        @include position(absolute, 0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
        touch-action: none;
    }
}

.row {
    margin-top: -15px;
    margin-bottom: -15px;

    > [class^=col-] {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

#nav-icon {
    width: 50px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 50%;
        background: $secondary;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 0;
            border-radius: 9px 0 0 9px;
        }
    }
}


#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
    top: 0;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
    top: 16px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
    top: 33px;
}

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 10px;
}

#nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 10px;
}

#nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 26px;
}

#nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 26px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
